@model MvcMovie.Models.GamesGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Games Database</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add a New Game</a>
</p>
<form asp-controller="Games" asp-action="Index" method="get">
    <p>
        <select asp-for="GamesGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="filter" class="btn-primary" />
    </p>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody >
        @foreach (var item in Model.Games) {
        <tr>
            <td class="col-lg-3">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View More Info</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
